.col-pas {
  display: flex;
  align-items: flex-end;
}
.forgot-pass {
  text-decoration-line: underline;
  font-weight: 600;
  cursor: pointer;
}

.password h1,
h2,
h3 {
  font-size: 2.5rem;
}

.password {
  margin-top: 4em;
}
